<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
	<listeners>
		<listener class-name="com.absli.utill.MyITestListener"></listener>
		<listener class-name="com.absli.utill.MySuiteListener"></listener>
	</listeners>
	
  <test name="Regression Test">
    <classes>
	  <class name="com.absli.testCases.CreateAClientOrga">
	  </class>
	  <class name="com.absli.testCases.MasterPolicyMakerFunctionalityTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
